<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Notes - Sort by Cook Time</title>
    <link rel="stylesheet" href="./styles.css">
    </head>

<body>
 <h1>Chloe's Recipe Notes</h1>
  <p>
    <a href="/">← Back to all recipes</a>
  </p>
    <h2>Recipes I've tried</h2>
   <% Recipes.forEach(recipe =>{ %>
    <div class="recipe" id= "<%=recipe.id%>">
        <h3><a href="recipes/<%= recipe.id %>/notes/" class="recipe_title_link"> <%= recipe.title %></a></h3>
        <p>Cook Time: <%= recipe.cook_time_mins %> mins</p>
        <p>Culture: <%= recipe.culture%></p>
        <p>Score: <%= recipe.score%></p>
        <img class="recipeImg" src= '<%= recipe.imgUrl %>' alt="an image for recipe"/>
    </div><%});%>

   


<script></script>
</body>
</html>